<h1>Форма обратной связи</h1>

{% if thanks %}<p><strong>Спасибо, ваше обращение принято</strong></p>{% endif %}

<form action="{% url 'feedback:index' %}" method="post">
{% csrf_token %}

{{form.as_p}}
<!---
<p><label for="username">Ваше имя: </label><input name="username" id="username"/><br>
<label for="phone_number">Номер телефона :</label><input name="phone_number" id="phone_number"/><br>
<label for="email">Электронная почта :</label><input name="email" id="email"/><br>
<label for="company">Организация :</label><input name="company" id="company"/><br>
<label for="message">Сообщение :</label><input name="message" id="message"/></p>
/--->
<input type="submit" value="Отправить"/>
</form>